h1 {
    color: black;
    background-color: darkgrey;
    font-family: Verdana, sans-serif;
    font-size: 45px;
    text-align: center;
    font-weight: 900;
    border: 2px solid red;
}

.list {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    text-align: center;
    border: 2px solid red;
}

a {
    text-decoration: none;
}